body{
    margin: 0;
}
.nav {
  background-color: blue;
  display: flex;              
  justify-content: space-between; 
  align-items: center;        
  padding: 10px

}

a{
    color: white; text-decoration: none;
}
.nav .left {
  font-weight: bold;
}

.nav .right a {
  color: white;
  text-decoration: none;
  margin-left: 30px; 
}
